app/design
app/etc
app/.htaccess
app/autoload.php
app/bootstrap.php
.idea/
CHANGELOG.md
COPYING.txt
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
auth.json.sample
bin/
composer.json
composer.lock
dev/
generated/
grunt-config.json.sample
lib/
nginx.conf.sample
package.json.sample
phpserver/
pub/
setup/
var/
vendor/
elasticsearch_data
